.distanced{
    display: flex;
    justify-content: space-around;
}

.idle{
    cursor:url('../assets/cursor/idle.png'), pointer;
    background:url('../assets/background.png');

    min-width: 1920px;
    max-width: 1920px;

    min-height: 929px;
    max-height: 929px;
}

.spell{
    background-color: rgba(150,125,0,0);
    width: 12em;
    height: 3em;
    position: absolute;
}

.spell:hover{
    cursor:url('../assets/cursor/active.png'), pointer
}

/* high magic */

.high{
    left:30.5em;
}

#VOXAM{
    width:11.2em;
    top: 2.2em;
}

#MAXOV{
    width:11.8em;
    top: 5.9em;
}

#GOLGATEM{
    width: 15.5em;
    top: 9.6em;
}

#METAGLOG{
    width: 16em;
    top: 13.2em;
}

#OBIDIL{
    width: 11.5em;
    top: 16.9em;
}

#LIDIBO{
    width: 12em;
    top: 20.3em;
}

#BEBURTT{
    width: 13.5em;
    top: 23.9em;
}

#TTRUBEB{
    width: 13.5em;
    top: 27.5em;
}




/* middle magic */

.middle{
    left: 62.8em;
    height: 2.5em;
}

#REZROV{
    width: 10.5em;
    top: 4em;
}

#VORZER{
    width: 10.5em;
    top: 7.2em;
}

#KENDALL{
    width: 12em;
    top: 10.6em;
}

#LLADNEK{
    width: 11.8em;
    top: 13.6em;
}

#NARWILE{
    width: 11.5em;
    top: 17.1em;
}

#ELIWRAN{
    width: 11.3em;
    top: 20em;
}

#YASTARD{
    width: 12em;
    top: 23em;
}

#DRATSAY{
    width: 12em;
    top: 25.8em;
}

/* deep magic */

.deep{
    left: 91.6em;
    height: 2.5em;
}

#IGRAM{
    width: 10em;
    top: 4.5em;
}

#MARGI{
    width: 9.8em;
    top: 7.8em;
}

#THROCK{
    width: 10.9em;
    top: 11.2em;
}

#KCORHT{
    width: 11em;
    top: 14.3em;
}

#SNAVIG{
    width: 10.5em;
    top: 17.3em;
}

#GIVANS{
    width: 10.5em;
    top: 20.3em;
}

#GLORF{
    width: 10em;
    top: 23.2em;
}

#FROLG{
    width: 10em;
    top: 26em;
}

/* scrolls */

#BOOZNIK{
    width: 7em;
    height: 22em;
    top: 35em;
    left: 17.1em;
    transform: rotate(137deg);
}

#LEXDOM{
    width: 10em;
    height: 25em;
    top: 31em;
    left: 55.5em;
    transform: rotate(127deg);
}

#ZIMDOR{
    width: 6em;
    height: 21em;
    top: 33em;
    left: 97em;
    transform: rotate(131deg);
}